@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>H17W34: Small Scale Applications Development</h2>
    <p class="lead">
        This Unit is designed to introduce you to producing small applications for business or personal needs.<br>
        ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.
    </p>
    <p><a href="https://mylearning.dundeeandangus.ac.uk/course/view.php?id=11532" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>